#!/usr/bin/env bash

# Automatically reload when this file changes
watch_file nix/devshell.nix

# Load `nix develop`
use flake

# Ensure data dir is present
mkdir -p "$PRJ_DATA_DIR"

# Set PostgreSQL data directory
export PG_DATA_DIR="$PRJ_DATA_DIR/pg"
mkdir -p "$PG_DATA_DIR"

# Extend the environment with per-user overrides
source_env_if_exists .envrc.local
