# fly.toml app configuration file generated for projects-refresh-service on 2025-07-05T13:54:02-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'projects-refresh-service'
primary_region = 'lhr'

[build]
  dockerfile = 'Dockerfile_bg_projects_refresh'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
