go 1.24.0

use (
	./backend
	./background/projects-refresh-service
	./cli
	./cli_e2e
	./dgctl

	./ee/backend
	./ee/cli
	./ee/drift

	./libs

	./taco/cmd/statesman
	./taco/cmd/taco
	./taco/internal
	./taco/models
	./taco/pkg/sdk
	./taco/providers/terraform/opentaco

)
