<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <title></title>
</head>
<main>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
    <div class="container-fluid">
      <div class="navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/projects">Projects</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</main>

<script src="/static/js/bootstrap.bundle.min.js"></script>
</html>
