{{define "notifications"}}
{{ range $message := .Messages }}
 <div class="alert alert-success alert-dismissible fade show" role="alert">
   {{$message}}
   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
 </div>
{{end}}
{{ range $message := .Warnings }}
 <div class="alert alert-warning alert-dismissible fade show" role="alert">
   {{$message}}
   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
 </div>
{{end}}
{{ range $message := .Errors }}
 <div class="alert alert-danger alert-dismissible fade show" role="alert">
   {{$message}}
   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
 </div>
{{end}}
{{ end }}