{{template "top" . }}

<div id="content">
    <div class="container-fluid">
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Policy Details</p>
            </div>
            <div class="card-body">
                {{template "notifications" . }}
                <form method="POST">
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                            <label class="form-label" for="username"><strong>Policy</strong></label>
                            <textarea class="form-control prism-live language-javascript" type="text" id="policy" name="policy">{{.Policy.Policy}}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Update</button></div>
                </form>
            </div>
        </div>
    </div>
</div>
{{template "bottom" . }}




