{{template "top" . }}

<div id="content">
    <div class="container-fluid">
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Project Details</p>
            </div>
            <div class="card-body">
               {{template "notifications" . }}
                <form method="POST">
                    <div class="row">
                        <div class="col">
                            <div class="mb-3"><label class="form-label" ><strong>Project Name</strong></label>
                            <input class="form-control" type="text" id="project_name" placeholder="Name" value="{{.Project.Name}}" name="project_name"></div>
                        </div>
                    </div>
                    <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Update</button></div>
                </form>
            </div>
        </div>
    </div>
</div>
{{template "bottom" . }}




