{{template "top" . }}
<div id="content">
    <div class="container-fluid">
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Repositories</p>
            </div>
            <div class="card-body">

                {{template "notifications" . }}

                <div class="table-responsive table mt-2" id="dataTable_div" role="grid" aria-describedby="dataTable_info">
                    <table class="table my-0" id="dataTable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Organisation</th>
                            </tr>
                        </thead>
                        <tbody>
                        {{ range .Repos }}
                            <tr>
                                <td>{{ .RepoFullName}}</td>
                                <td>{{.Organisation.Name}}</td>
                            </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

{{template "bottom" . }}



