{{template "top" . }}
<div id="content">
    <div class="container-fluid">
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Project Runs</p>
            </div>
            <div class="card-body">
               {{template "notifications" . }}

                <div class="table-responsive table mt-2" id="dataTable_div" role="grid" aria-describedby="dataTable_info">
                    <table class="table my-0" id="dataTable">
                        <thead>
                            <tr>
                                <th>Project Name</th>
                                <th>Status</th>
                                <th>Command</th>
                                <th>Started at</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                        {{ range .Runs }}
                            <tr>
                                <td>{{ .Project.Name }}</td>
                                <td>{{ .Status }}</td>
                                <td>{{ .Command }}</td>
                                <td>{{ .StartedAt | formatAsDate }}</td>
                                <td><a href="/runs/{{.ID}}/details">Details<a></td>
                            </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </div>
                <!--div class="row">
                    <div class="col-md-6 align-self-center">
                        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                    </div>
                    <div class="col-md-6">
                        <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                            <ul class="pagination">
                                <li class="page-item disabled"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div-->
            </div>
        </div>
    </div>
</div>
{{template "bottom" . }}



