{{define "bottom"}}
                        <footer class="bg-white sticky-footer">
                <!--div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2023</span></div>
                </div-->
            </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="/static/js/prism.min.js"></script>
    <script src="/static/js/prism-live.js?load=javascript"></script>
</body>

</html>

{{ end }}