<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Digger github app installed</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
  <section class="header">
    <h1 class="title-heading">App installation successful</h1>
    <p>You can now close this tab.</p>
  </section>
</div>
</body>
</html>