{{template "top" . }}
<div id="content">
    <div class="container-fluid">
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">GitHub Repos</p>
            </div>
            <div class="card-body">

               {{template "notifications" . }}

                <!--div class="row">
                    <div class="col-md-6 text-nowrap">
                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label class="form-label">Show&nbsp;<select class="d-inline-block form-select form-select-sm">
                                    <option value="10" selected="">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>&nbsp;</label></div>
                    </div>
                    <!--div class="col-md-6">
                        <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                    </div>
                </div-->
                <div class="table-responsive table mt-2" id="dataTable_div" role="grid" aria-describedby="dataTable_info">
                    <table class="table my-0" id="dataTable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Repo</th>
                                <th>Organisation</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                        {{ range .Repos }}
                            <tr>
                                <td>{{ .Name }}</td>
                                <td><a href="{{.HTMLURL}}/">{{ .FullName }}<a></td>
                                <td>{{ .Owner.Login }}</td>
                                <td></td>
                            </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <a class="btn btn-primary" role="button" href="/projects/add">Add Project</a>
                    </div>
                </div>

                <!--div class="row">
                    <div class="col-md-6 align-self-center">
                        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                    </div>
                    <div class="col-md-6">
                        <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                            <ul class="pagination">
                                <li class="page-item disabled"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div-->
            </div>
        </div>
    </div>
</div>

{{template "bottom" . }}



