<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Digger github setup</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>

    form {
      width: 100%;
    }

    form button {
      float: right;
    }

    textarea {
      width: 100%;
      height: 300px;
      font-family: monospace;
    }

    .config {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      border-bottom: 1px solid #eee;
    }


    .config strong {
      width: 15%;
    }

    pre {
      background-color: #eee;
      padding: .5em;
      width: 80%;
    }

    pre#b64 {
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }

  </style>
</head>
<body>
<div class="container">
  <section class="header">
    <h1 class="title-heading">Digger is Live</h1>
    <p> Digger is up and running</p>
  </section>
</div>
</body>
</html>