name: Backend Publish docker image

on:
  release:
    types: ['released']

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}_backend

jobs:
  build-and-push-image:
    if: (startswith(github.event.release.tag_name, 'v'))

    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@3d58c274f17dffee475a5520cbe67f0a882c4dbb
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        uses: docker/build-push-action@9f6f8c940b91232557f8699b21341a08624a8dce
        with:
          context: .
          file: "Dockerfile_backend"
          push: true
          tags:
            - ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            - ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:{{ github.event.release.tag_name }}
          labels: ${{ steps.meta.outputs.labels }}
