name: Cli e2e tests
on:
  push:
    branches: [ 'develop' ]

jobs:
  build:
    permissions:
      contents: 'read'
      id-token: 'write'

    name: Build
    runs-on: ubuntu-latest
    steps:

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Download Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22.0
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Deps cli
        run: |
          go get -v ./...
        working-directory: cli

      - name: Deps e2e
        run: |
          go get -v ./...
        working-directory: cli_e2e

      - name: Test
        run: |
          echo '${{ secrets.GCP_CREDENTIALS }}' > /tmp/gcp.json
          go test -v ./...
        working-directory: cli_e2e
        env:
          GOOGLE_APPLICATION_CREDENTIALS: /tmp/gcp.json
          GOOGLE_STORAGE_BUCKET: gcp-plan-artefacts



