name: Cli tests
on: 
  push:
  pull_request:
    types: [opened, reopened]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

      - name: Download Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.21.1
        id: go

      - name: Setup Opentofu
        uses: opentofu/setup-opentofu@v1.0.2
        with:
          tofu_version: 1.6.0-alpha3

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Deps
        run: |
          pwd
          go get -v ./...
        working-directory: cli

      - name: Build
        run: |
          pwd
          go build -v ./cmd/digger
        working-directory: cli

      - name: Install Azurite
        run: npm install -g azurite

      - name: Start Azurite service
        run: azurite --silent &

      - name: Test
        run: go test -v ./...
        working-directory: cli
