---
name: Libs tests

"on":
  push:
    branches: ['develop']
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Setup Opentofu
        uses: opentofu/setup-opentofu@v1.0.4
        with:
          tofu_version: 1.8.5

      - name: Download Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.21.1
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Deps
        run: |
          pwd
          go get -v ./...
        working-directory: libs

      - name: Install Azurite
        run: npm install -g azurite

      - name: Start Azurite service
        run: azurite --silent &

      - name: Determine if PR is from external contributor
        id: pr_check
        run: |
          if [ "${{ github.event.pull_request.head.repo.full_name }}" = "${{ github.repository }}" ]; then
          echo "is_external=false" >> $GITHUB_OUTPUT
          else
          echo "is_external=true" >> $GITHUB_OUTPUT
          fi

      - uses: opentofu/setup-opentofu@v1
        with:
          tofu_version: 1.8.5

      - name: Test
        run: |
          go install github.com/gotesttools/gotestfmt/v2/cmd/gotestfmt@latest
          if [ "${{ steps.pr_check.outputs.is_external }}" = "true" ]; then
            go test -json -tags=external ./... | gotestfmt
          else
            go test -json ./... | gotestfmt
          fi
        env:
          DIGGER_LICENSE_KEY: ${{ secrets.TEST_DIGGER_LICENSE_KEY}}
        working-directory: libs
