name: release
on:
  release:
    branches:
      - 'go'
    types: [released]

jobs:
  binary:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Build
        run: |
          env GOOS=linux GOARCH=amd64 CGO_ENABLED=0 go build -o digger ./cmd/digger
      - name: Publish linux-x64 exec to github
        id: upload-release-asset-linux-x64
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: 'digger'
          asset_name: digger-Linux-X64
          asset_content_type: application/octet-stream
