---
name: Statesman dockerfile verify

"on":
  push:
    branches: ['develop']
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Download Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24.0
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Test that the docker image still builds successfully
        run: |
          export COMMIT_SHA=$(git rev-parse --short HEAD)
          docker build -t testingbuild:latest --build-arg COMMIT_SHA=${COMMIT_SHA} . -f Dockerfile_statesman
        working-directory: taco
