---
name: Tasks run tests

"on":
  push:
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Download Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22.0
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Deps
        run: |
          pwd
          go get -v ./...
        working-directory: backend/tasks

      - name: Test
        run: go test -v ./...
        working-directory: backend/tasks
